.input-field{
    border: 2px solid #d1ab24;
  border-radius: 4px;
  width: 300px;
}

.hero-title{
    color: white;
}
.card-body{
    background-color:black;
    
     
}
.card-bodyy{
    background-color:white;
     
}
.card-body:hover {
    background-color: #9c1102;
    
  }
  